%h1 
  =t('helpers.listing')
  \:
  =Movie.model_name.human(count: 2)


%table
  %thead
    %tr
      %th= Movie.human_attribute_name(:name)
      %th= Movie.human_attribute_name(:min_age)
      %th= Movie.human_attribute_name(:genre)
      %th= Movie.human_attribute_name(:duration)
      %th= Movie.human_attribute_name(:movie_company)
      %th
      %th
      %th

  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.name
        %td= movie.min_age
        %td= movie.genre
        %td= movie.duration
        %td= movie.movie_company.name
        %td= link_to t('helpers.show'), movie
        %td= link_to t('helpers.edit'), edit_movie_path(movie)
        %td= link_to t('helpers.destroy'), movie, :method => :delete, :data => { :confirm => t('helpers.sure') }

%br

= link_to t('helpers.new') + ' ' + Movie.model_name.human(count: 1), new_movie_path
