%p#notice= notice

%p
  %b 
    = Movie.human_attribute_name(:name) + ":"
  = @movie.name
%p
  %b 
    = Movie.human_attribute_name(:min_age) + ":"
  = @movie.min_age
%p
  %b 
    = Movie.human_attribute_name(:genre) + ":"
  = @movie.genre
%p
  %b 
    = Movie.human_attribute_name(:duration) + ":"
  = @movie.duration
%p
  %b 
    = Movie.human_attribute_name(:movie_company) + ":"
  = @movie.movie_company.name

= link_to t('helpers.edit'), edit_movie_path(@movie)
\|
= link_to t('helpers.back'), movies_path
