= form_for @movie_person do |f|
  - if @movie_person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@movie_person.errors.count, "error")} prohibited this movie_person from being saved:"
      %ul
        - @movie_person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :role
    = f.text_field :role
  .field
    = f.label :movie
    = f.select(:movie_id, movie_options(f.object.movie_id))
  .field
    = f.label :person
    = f.select(:person_id, person_options(f.object.person_id))
  .actions
    = f.submit 
