%p#notice= notice

%p
  %b 
    = MoviePerson.human_attribute_name(:person) + ":"
  = @movie_person.person.last_name 
  = @movie_person.person.first_name 
%p
  %b 
    = MoviePerson.human_attribute_name(:movie) + ":"
  = @movie_person.movie.name
%p
  %b 
    = MoviePerson.human_attribute_name(:role) + ":"
  = @movie_person.role



= link_to t('helpers.edit'), edit_movie_person_path(@movie_person)
\|
= link_to t('helpers.back'), movie_people_path
